<div class="container">
	<h3 class="text-center my-2 title">Bienvenid@!</h3>
	<div class="description"><br>
	<p>Hola, espero te encuentres bien, esta es la documentación de mi primer api, como te darás cuenta, no tiene mucho, pero espero pronto poder mejorarla.</p>
		<div class="line"></div><br>
	<p>Gracias por escogerla. :)</p>
	</div>
</div>